@model IEnumerable<booking_facilities.Models.Venue>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "Venues Index";
}
<div class="card">
    <div class="card-header">
        <strong class="card-title">Venues Index</strong> <a asp-action="Create" class="btn btn-sm btn-success">Create New</a>
    </div>
    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.VenueName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.onePageOfVenue)
                {
                    <tr>
                        <td>
                            @item.VenueName
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.VenueId" class="btn btn-info btn-sm">Edit</a> 
                            <a asp-action="Delete" asp-route-id="@item.VenueId" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- TODO: Fix This
@Html.PagedListPager((IPagedList)ViewBag.onePageOfVenue, page => Url.Action("Index", new { page }))
-->
