@model booking_facilities.Models.Booking

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditBlockFacility">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                @Html.LabelFor(m => m.Facility.VenueId, new { @class = "control-label" })
                @Html.DropDownList("VenueId", (IEnumerable<SelectListItem>)ViewBag.VenueId, new { @id = "venueDDL", @class = "form-control", @onchange = "updateSports()" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Facility.SportId, new { @class = "control-label" })
                @Html.DropDownList("SportId", (IEnumerable<SelectListItem>)ViewBag.SportId, new { @id = "sportDDL", @class = "form-control", @onchange = "updateFacilities()"})
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.FacilityId, new { @class = "control-label" })
                @Html.DropDownList("FacilityId", (IEnumerable<SelectListItem>)ViewBag.FacilityId, new { @id = "facilityDDL", @class = "form-control", @onchange = "getTimes()" })
                <span asp-validation-for="FacilityId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="BookingDateId" class="control-label">Booking Date</label>
                <input class="form-control" type="date" id="BookingDateId" onchange="updateDateTime()" />
            </div>

            <div class="form-group">
                <label for="timeDDL" class="control-label">Booking Time</label>
                <select class="form-control" id="timeDDL" onchange="updateDateTime()"></select>
            </div>

            <div class="form-group" id="BookingTimeForm">
                <label asp-for="BookingDateTime" class="control-label"></label>
                <input asp-for="BookingDateTime" class="form-control" asp-items="ViewBag.BookingDateTime" id="BookingDateTime" readonly="readonly" />
                <span asp-validation-for="BookingDateTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="EndBookingDateId" class="control-label">End Booking Date</label>
                <input class="form-control" type="date" id="EndBookingDateId" onchange="updateDateTime()" />
            </div>

            <div class="form-group">
                <label for="endTimeDDL" class="control-label">End Booking Time</label>
                <select class="form-control" id="endTimeDDL" onchange="updateDateTime()"></select>
            </div>

            <div class="form-group" id="BookingTimeForm">
                <label asp-for="EndBookingDateTime" class="control-label"></label>
                <input asp-for="EndBookingDateTime" class="form-control" asp-items="ViewBag.EndBookingDateTime" id="EndBookingDateTime" readonly="readonly" />
                <span asp-validation-for="EndBookingDateTime" class="text-danger"></span>
            </div>
            <p>Blocking a facility will remove all bookings made during the blocking period.</p>
            <div class="form-group">
                <input type="submit" value="CreateBlockFacility" class="btn btn-default" id="submitButton" />
            </div>

        </form>

    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function updateDateTime() {
            document.getElementById("EndBookingDateTime").value = document.getElementById("EndBookingDateId").value + "T" + $("#endTimeDDL :selected").text();
            document.getElementById("BookingDateTime").value = document.getElementById("BookingDateId").value  + "T" + $("#timeDDL :selected").text();
        }

        function updateSports() {
            document.getElementById("BookingDateId").value = document.getElementById("BookingDateTime").value = "";
            urlVenues = '@Url.Content("~/")' + "api/Sports/getSportsByVenue/"  + $("#venueDDL").val();
           
            
            $.ajax({
                url: urlVenues,
                success: function (json) {

                    var items = "";
                    $.each(json, function (i, sport) {
                        items += "<option value='" + sport.sportId + "'>" + sport.sportName + "</option>";
                    })
                    $("#sportDDL").empty().html(items);

                }
            });
        }

        function updateFacilities() {
            urlFacilities = '@Url.Content("~/")' + "api/Facilities/" + $("#venueDDL").val() + "/" + $("#sportDDL").val();
            $.ajax({
                url: urlFacilities,
                success: function (json) {

                    var items = "";
                    $.each(json, function (i, facility) {
                        items += "<option value='" + facility.facilityId + "'>" + facility.facilityName + "</option>";
                    })
                    $("#facilityDDL").empty().html(items);

                }
            });
        }

        function populateTimes() {

            var startTime = 9;
            var hoursOpen = 12;

            var startTimes = "";
            var endTimes = "";

            for (i = 0; i < hoursOpen; i++) {

                startTimes += "<option value='" + i + "'>" + ("0" + (i + startTime)).slice(-2) + ":00:00" + "</option>";
                endTimes += "<option value='" + i + "'>" + ("0" + (i + startTime + 1)).slice(-2) + ":00:00" + "</option>";
            }
            $("#timeDDL").empty().html(startTimes);
            $("#endTimeDDL").empty().html(endTimes);

        }

        updateSports();
        updateFacilities();
        populateTimes();
    </script>
}
