@model IEnumerable<booking_facilities.Models.Booking>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Bookings Index";
}
<div class="card">
    <div class="card-header">
        <strong class="card-title">Bookings Index</strong> <a asp-action="Create" class="btn btn-sm btn-success">Create New</a> @if (User.Claims.FirstOrDefault(c => c.Type == "user_type").Value.Equals("administrator"))
        {
            <a asp-action="CreateBlockFacility" class="btn btn-warning btn-sm">Block Facility</a>
        }
    </div>
    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Facility.Sport)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Facility)
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["VenueSortParm"]">@Html.DisplayNameFor(model => model.Facility.Venue)</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.BookingDateTime)</a>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndBookingDateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsBlock)
                    </th>
                    @if (User.Claims.FirstOrDefault(c => c.Type == "user_type").Value.Equals("administrator"))
                    {
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["UserSortParm"]">@Html.DisplayNameFor(model => model.UserId)</a>
                        </th>

                    }
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.onePageOfBookings)
                {
                    <tr>
                        <td>
                            @item.Facility.Sport.SportName
                        </td>
                        <td>
                            @item.Facility.FacilityName
                        </td>
                        <td>
                            @item.Facility.Venue.VenueName
                        </td>
                        <td>
                            @item.BookingDateTime
                        </td>
                        <td>
                            @item.EndBookingDateTime
                        </td>
                        <td>
                            @if (!item.IsBlock)
                            {
                                @:Booking
                            }
                            else
                            {
                                <strong class="text-danger">Blocked!</strong>
                            }
                        </td>
                        @if (User.Claims.FirstOrDefault(c => c.Type == "user_type").Value.Equals("administrator"))
                        {
                            <td>
                                @item.UserId
                            </td>
                        }
                        <td>
                            @if (User.Claims.FirstOrDefault(c => c.Type == "user_type").Value.Equals("administrator") && item.IsBlock)
                            {
                                <a asp-action="EditBlockFacility" asp-route-id="@item.BookingId" class="btn btn-info btn-sm">Edit</a>
                            }
                            else if (!item.IsBlock)
                            {
                                <a asp-action="Edit" asp-route-id="@item.BookingId" class="btn btn-info btn-sm">Edit</a>
 
                            }
                            @if (!(!User.Claims.FirstOrDefault(c => c.Type == "user_type").Value.Equals("administrator") && item.IsBlock))
                            {
                                <a asp-action="Delete" asp-route-id="@item.BookingId" class="btn btn-danger btn-sm">Delete</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@Html.PagedListPager(
    (IPagedList)ViewBag.onePageOfBookings,
    page => Url.Action("Index", new { page })
)

