@model IEnumerable<booking_facilities.Models.Sport>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SportName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.onePageOfSports)
        {
            <tr>
                <td>
                    @item.SportName
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SportId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SportId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SportId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)ViewBag.onePageOfSports, page => Url.Action("Index", new { page }))